<section #scrollContainer class="product_carousel_inner">
  <div class="product_carousel_wrapper">
    <div class="container">
      <div class="loader_wrapper" *ngIf="searchService.promptLoader">
        <div class="loader_positioning">
          <div class="text_loader">Recommending some products for you.....</div>
          <div class="loader2"></div>
        </div>
      </div>
      <div  class="row">
        @for (product of productsList | slice: skip : page * limit; track getId(product.ID)){
          <div class="col-3">
              <div class="card_ui_product" (click)="onProductDetailsModalShow(product)">
                <div class="product-card">
                    <div class="product-card_inner">
                      @defer{
                        <div class="product_img_wrapper">
                          <img loading="lazy" class="product-img" [src]="product?.PRODUCT_IMAGE_URL ? product.PRODUCT_IMAGE_URL : PLACEHOLDER_URL" alt="{{product?.PRODUCT_NAME}}">
                        </div>
                      } @placeholder (minimum 1s){
                        <div [style.margin-bottom.px]='20'>
                          <p-skeleton   class="mb-2" height="250px" width="280px"></p-skeleton>
                        </div>
                      }
                      <div class="content_wrapper">
                        <div class="product_content_section">
                          <p class="brand-name">{{product?.BRAND_NAME}}</p>
                          <p class="product-name">{{product?.PRODUCT_NAME?.split(',')?.[0]}}</p>
                        </div>
                        <a type="button" class="add_icon" (click)="redirectToProduct(product?.PRODUCT_URL)">
                          Explore Product
                          <svg width="12" height="12" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.75 6.75001L15.75 2.25001M15.75 2.25001H11.25M15.75 2.25001L9 9M7.5 2.25H5.85C4.58988 2.25 3.95982 2.25 3.47852 2.49524C3.05516 2.71095 2.71095 3.05516 2.49524 3.47852C2.25 3.95982 2.25 4.58988 2.25 5.85V12.15C2.25 13.4101 2.25 14.0402 2.49524 14.5215C2.71095 14.9448 3.05516 15.289 3.47852 15.5048C3.95982 15.75 4.58988 15.75 5.85 15.75H12.15C13.4101 15.75 14.0402 15.75 14.5215 15.5048C14.9448 15.289 15.289 14.9448 15.5048 14.5215C15.75 14.0402 15.75 13.4101 15.75 12.15V10.5" stroke="#DC5A4B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="inner-svg"></path></svg>
                        </a>
                      </div>
                    </div>
                  </div>

              </div>
          </div>
        }
      </div>
    </div>

  </div>

  @if(productListLength > limit && productsList){
  <div class="pagination_wrapper selection-pagination">
    <ngb-pagination
      class="d-flex justify-content-center"
      [collectionSize]="productListLength"
      [(page)]="page"
      [pageSize]="limit"
      [maxSize]="6"
      [rotate]="true"
      [ellipses]="true"
      [boundaryLinks]="false"
      [directionLinks]="true"
      (pageChange)="pageChangeHandler($event)"
    >
      <ng-template ngbPaginationPrevious class="arrow">
        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.72042 11.7225C6.34765 12.0925 5.74326 12.0925 5.37049 11.7225L0.27958 6.66989C-0.0931924 6.29992 -0.0931923 5.70008 0.27958 5.33011L5.37049 0.277478C5.74326 -0.0924926 6.34765 -0.0924926 6.72042 0.277478C7.09319 0.647448 7.09319 1.24729 6.72042 1.61726L2.30448 6L6.72042 10.3827C7.09319 10.7527 7.09319 11.3526 6.72042 11.7225Z" fill="#E0E1E5"/>
        </svg>
      </ng-template>
      <ng-template ngbPaginationNext class="arrow">
        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.27958 0.277479C0.652353 -0.0924921 1.25674 -0.0924921 1.62951 0.277479L6.72042 5.33011C7.09319 5.70008 7.09319 6.29992 6.72042 6.66989L1.62951 11.7225C1.25674 12.0925 0.652354 12.0925 0.27958 11.7225C-0.0931928 11.3526 -0.0931929 10.7527 0.27958 10.3827L4.69552 6L0.27958 1.61726C-0.0931933 1.24729 -0.0931933 0.647449 0.27958 0.277479Z" fill="#E0E1E5"/>
        </svg>
      </ng-template>
    </ngb-pagination>
    <p class="page_info"> {{(skip + 1)}}-{{ productListLength < skip + limit ? productListLength : skip + limit}} of {{productListLength}} Results</p>
  </div>
  }
</section>


<!--Product modal starts here-->
<p-dialog (click)="onProductDetailsModalHide()" [showHeader]="false" [(visible)]="productDetailsModal" [modal]="true" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false" styleClass="product_modal_wrapper" (onHide)="onProductDetailsModalHide()"
          >
<!--  <div class="loader_wrapper" *ngIf="searchService.modalLoader">-->
<!--    <div class="loader_positioning">-->
<!--      <div class="loader2"></div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="modal-content">
    <div class="modal-body">
        <!--   Carusel Item Form Model content     -->
          <div class="row add_product_row edit_item_product_carousal">
            <div class="col-md-4 product_img_warapper">
              <div class="product_inner_img">
                <a [href]="selectedProduct?.PRODUCT_URL" target="_blank">
                  <img [src]="selectedProduct?.PRODUCT_IMAGE_URL" [alt]="selectedProduct?.PRODUCT_NAME">
                </a>
              </div>
            </div>
            <div class="col-md-8">
              <div class="product_modal_content">
                <p class="brand_name" >{{selectedProduct?.BRAND_NAME}}</p>
                  <p class="product_name">{{selectedProduct?.PRODUCT_NAME?.split(',')?.[0]}}</p>
              </div>
              <div class="modal-category-list">
                <ul *ngIf="variants.length">
                  <li *ngFor="let category of variants">{{ category }}</li>
                </ul>
              </div>
            </div>
<!--            <div class="modal-category-list">-->
<!--              <ul *ngIf="variants.length">-->
<!--                <li *ngFor="let category of variants">{{ category }}</li>-->
<!--              </ul>-->
<!--            </div>-->
          </div>

    </div>
    <div class="modal-footer align-self-center p_sticky_mob">
      <div >
        <div class="edit-item_button_wrap">
          <a  [href]="selectedProduct?.PRODUCT_URL" target="_blank" class="link-primary-btn view_product_btn">
              <span class="el-icon">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path class="inner-svg" d="M15.75 6.75001L15.75 2.25001M15.75 2.25001H11.25M15.75 2.25001L9 9M7.5 2.25H5.85C4.58988 2.25 3.95982 2.25 3.47852 2.49524C3.05516 2.71095 2.71095 3.05516 2.49524 3.47852C2.25 3.95982 2.25 4.58988 2.25 5.85V12.15C2.25 13.4101 2.25 14.0402 2.49524 14.5215C2.71095 14.9448 3.05516 15.289 3.47852 15.5048C3.95982 15.75 4.58988 15.75 5.85 15.75H12.15C13.4101 15.75 14.0402 15.75 14.5215 15.5048C14.9448 15.289 15.289 14.9448 15.5048 14.5215C15.75 14.0402 15.75 13.4101 15.75 12.15V10.5" stroke="#DC5A4B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            <p class="el-text">VIEW PRODUCT DETAILS & BUYING OPTIONS</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
<!-- Edit Item modal start here  -->

