.product_carousel_inner{
  .product_carousel_wrapper{
    max-width: 1080px;
    margin: 0 auto;
  }
  .heading_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    .heading9{
      line-height: 38.4px;
      text-align: center;
      color: #444;
      font-family: "itc_souvenir_stdlight"

    }
    .view_more_btn{
      .link-primary-btn{
        .el-icon {
          margin-right: 4px;
          svg {
            max-width: 18px;
          }

        }
        .el-text {
          font-size: 16px;
          line-height: 19px;
          font-weight: 400;
          font-family: "Helvetica Neue";
          font-style: normal;

        }
      }

    }
  }

.card_ui_product:hover{
  box-shadow: 4px 4px 12px 0px #00000026;
  .view_detail_btn{
    .link-primary-btn{
      visibility: visible;
      opacity: 1;
      transition: 0.2s ease-in-out;
    }
  }
}

.product-card {
  max-width: 100%;
  min-width: 100%;
  background: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 23px 20px 15px;
  margin-bottom: 20px;
  margin-top: 8px;
  //min-height: 242px;
.add_icon{
  color: #DC5A4B;
  text-decoration: none;
  font-family: 'Helvetica Neue md';
}
  .product-card_inner{
    color: #DC5A4B;
    .product_img_wrapper{
      display: flex;
      justify-content: center;
      text-align: center;
      height: 150px;
      margin-bottom: 18px;
      .product-img{
        max-width: 150px;
        max-height: 150px;
      }
    }

  }
}

.product_content_section{
  padding-bottom: 30px;
  .brand-name{
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #666666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product-name{
    font-family: 'Helvetica Neue md';
    line-height: 19px;
    text-align: left;
    color: #444;
    margin-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    //text-overflow: ellipsis;
  }
  .percentage_off{
    font-weight: 400;
    line-height: 17.89px;
    text-align: left;
    color: #006878;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .price_of_product{
    font-weight: 400;
    line-height: 21.47px;
    text-align: left;
    color: #006878;
    margin-bottom: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

}

//.view_detail_btn{
//  .link-primary-btn{
//    visibility: hidden;
//    opacity: 0;
//    transition: 0.2s ease-in-out;
//    .el-icon{
//      margin-right: 5px;
//    }
//    .el-text{
//      font-family: 'Helvetica Neue md';
//      font-size: 11px;
//      font-weight: 500;
//      line-height: 13.43px;
//      letter-spacing: 0.05em;
//      text-align: left;
//    }
//  }
//}

  .strikeout {
  text-decoration-line: line-through;
}




//.custom-link {
//  padding-top: 20px;
//  padding-bottom: 10px;
//}

.mobile-products {
  padding-bottom: 60px;
}

.card_ui_product{
  position: relative;
  .btn.add-item-icon{
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
  .add-item-icon:active {
    border-color: #FFFFFF !important;
  }
}
}

.pagination_wrapper{
  text-align: center;
  padding-bottom: 30px;
  .page_info{
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color:#96999F;
  }
  .pagination{
    margin-bottom: 20px;
    li{
      margin: 0 4px;
      &.active{
        a{
          background: #DC5A4B;
          color:#fff;
          border:1px solid #DC5A4B;
          &:hover{
            background:#DC5A4B;
          }
        }
      }
      a{
        min-width: 32px;
        height: 32px;
        padding: 0 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #E0E1E5;
        border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        color:#96999F;
        transition: all 0.2s;
        &:focus{
          outline: none;
          box-shadow: none;
        }
        &:hover{
          background: #F5F5F5;
        }

        &[aria-label="Previous"]{
          background: transparent;
          border: none;
          min-width:32px !important;
          height: 32px;
          display: flex;
          align-items:center !important;
          svg path{
            fill:#96999F;
          }
          &:hover{
            svg path{
              fill:#DC5A4B;
            }
          }
        }
        &[aria-label="Next"]{
          background: transparent;
          border: none;
          min-width:32px !important;
          height: 32px;
          display: flex;
          align-items:center !important;
          &:hover{
            svg path{
              fill:#DC5A4B;
            }
          }
          svg path{
            fill:#96999F;
          }
        }

        &[aria-disabled="true"]{
          background: transparent;
          border: none;
          padding: 0;
          min-width:24px;
          height: 32px;
          display: flex;
          align-items: flex-end;

          svg path{
            fill:#E0E1E5;
          }
        }
      }
    }
  }
}

.selection-pagination {
  padding-top: 25px;
}


.loader_wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 15102;
  top: 40%;
  left: 0;
  //background-color: rgba(255, 255, 255, 0.73);
  backdrop-filter: blur(1px);
}
//.loader1 {
//  position: absolute;
//  left: 50%;
//  transform: translate(-50%,-50%) translateZ(0);
//  top: 50%;
//  width: 90px;
//  height: 90px;
//  z-index: 1;
//  background-size: contain;
//  background: url("assets/loader_logo.svg") no-repeat center;
//  /* animation: spinning 1.5s infinite ease-in-out; */
//
//  &:after {
//    content: "";
//    position: absolute;
//    width: 120px;
//    height: 120px;
//    background-color: rgba(0,0,0,0);
//    border-radius: 100%;
//    margin: -15px;
//    box-shadow: 0 4px 0 0 #1A4B5B;
//    transition: all 1s linear;
//    animation: loader1 1s linear infinite;
//  }
//}


@keyframes spinning {
  0% { transform: translate(-50%,-50%) scale(1) translateZ(0);}
  50% { transform: translate(-50%,-50%) scale(1.1) translateZ(0);}
  100% { transform: translate(-50%,-50%) scale(1) translateZ(0);}
}

@keyframes loader1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* loader 2*/

.loader2 {
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 20px;
  background-color:#1A4B5B;
  color:#1A4B5B;
  margin: auto;
  margin-bottom:0px;
  -webkit-animation: dotStretching 1s infinite ease-in;
  animation: dotStretching 1s infinite ease-in;
  &:before, &:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }
  &:before {
    width: 14px;
    height: 14px;
    border-radius: 20px;
    background-color: #1A4B5B;
    color:#1A4B5B;
    -webkit-animation: loader2Before 1s infinite ease-in;
    animation: loader2Before 1s infinite ease-in;
  }
  &:after {
    width: 14px;
    height: 14px;
    border-radius: 20px;
    background-color:#1A4B5B;
    color:#1A4B5B;
    -webkit-animation: loader2After 1s infinite ease-in;
    animation: loader2After 1s infinite ease-in;
  }
}




@-webkit-keyframes loader2 {
  0% {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25); }
  50%,
  60% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  100% {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25); } }

@keyframes loader2 {
  0% {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25); }
  50%,
  60% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  100% {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25); } }

@-webkit-keyframes loader2Before {
  0% {
    -webkit-transform: translate(0) scale(0.7, 0.7);
    transform: translate(0) scale(0.7, 0.7); }
  50%,
  60% {
    -webkit-transform: translate(-25px) scale(1, 1);
    transform: translate(-25px) scale(1, 1); }
  100% {
    -webkit-transform: translate(0) scale(0.7, 0.7);
    transform: translate(0) scale(0.7, 0.7); } }

@keyframes loader2Before {
  0% {
    -webkit-transform: translate(0) scale(0.7, 0.7);
    transform: translate(0) scale(0.7, 0.7); }
  50%,
  60% {
    -webkit-transform: translate(-25px) scale(1, 1);
    transform: translate(-25px) scale(1, 1); }
  100% {
    -webkit-transform: translate(0) scale(0.7, 0.7);
    transform: translate(0) scale(0.7, 0.7); } }

@-webkit-keyframes loader2After {
  0% {
    -webkit-transform: translate(0) scale(0.7, 0.7);
    transform: translate(0) scale(0.7, 0.7); }
  50%,
  60% {
    -webkit-transform: translate(25px) scale(1, 1);
    transform: translate(25px) scale(1, 1); }
  100% {
    -webkit-transform: translate(0) scale(0.7, 0.7);
    transform: translate(0) scale(0.7, 0.7); } }

@keyframes loader2After {
  0% {
    -webkit-transform: translate(0) scale(0.7, 0.7);
    transform: translate(0) scale(0.7, 0.7); }
  50%,
  60% {
    -webkit-transform: translate(25px) scale(1, 1);
    transform: translate(25px) scale(1, 1); }
  100% {
    -webkit-transform: translate(0) scale(0.7, 0.7);
    transform: translate(0) scale(0.7, 0.7); } }

/* Loader 2*/



/*loader 3*/
.loader3 {
  border: 0 solid transparent;
  border-radius: 50%;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  margin: auto;
  width: 60px;
  height:60px;
  &:before,
  &:after {
    content: '';
    border: .2em solid #1A4B5B;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader3 1s linear infinite;
    opacity: 0;
  }
  &:before {
    animation-delay: 1s;
  }
  &:after {
    animation-delay: .5s;
  }
}

@keyframes loader3 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/*loader 3*/


/*loader 4*/

.loader4 {
  border: 5px solid #F5F5F5;
  border-radius: 50%;
  border-top:5px solid #1A4B5B;
  width: 60px;
  height: 60px;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  right: 0;
  margin: auto;
  left: 0;
  -webkit-animation: loader4 0.6s linear infinite; /* Safari */
  animation: loader4 0.6s linear infinite;
}

/* Safari */
@-webkit-keyframes loader4 {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes loader4 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*loader 4 end */




/*loader 5*/

.loader5 {
  border-radius: 50%;
  width: 120px;
  height: 60px;
  align-items: center;
  display: inline-flex;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  right: 0;
  margin: auto;
  left: 0;
  -webkit-animation: loader5 0.9s infinite linear; /* Safari */
  animation: loader5  0.9s infinite linear;
  animation: loader5  0.9s infinite linear;

  img{
    width:100%;
  }
}

/* Safari */
@-webkit-keyframes loader5 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  65% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes loader5 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  65% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
}


/*loader 5 end */

.loader_positioning{
  position: absolute;
  left: 0;
  top: 25%;
  transform: translateY(-50%);
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 500px;
  padding: 0 10px;
  .text_loader{
    text-align: center;
    color: #444444;
    margin-top: 20px;
    font-weight: 400;
    line-height: 29px;
    font-weight: 400;
    line-height: 29px;
  }

}


