.product_carousel_inner{
  .heading_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    .heading9{
      line-height: 38.4px;
      text-align: center;
      color: #444;
      font-family: "itc_souvenir_stdlight"

    }
    .view_more_btn{
      .link-primary-btn{
        .el-icon {
          margin-right: 4px;
          svg {
            max-width: 18px;
          }

        }
        .el-text {
          font-size: 16px;
          line-height: 19px;
          font-weight: 400;
          font-family: "Helvetica Neue";
          font-style: normal;

        }
      }

    }
  }

.card_ui_product:hover{
  box-shadow: 4px 4px 12px 0px #00000026;
  .view_detail_btn{
    .link-primary-btn{
      visibility: visible;
      opacity: 1;
      transition: 0.2s ease-in-out;
    }
  }
}

.product-card {
  max-width: 100%;
  min-width: 100%;
  background: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 23px 20px 15px;
  margin-bottom: 20px;
  margin-top: 8px;
  //min-height: 242px;
.add_icon{
  color: #DC5A4B;
  text-decoration: none;
}
  .product-card_inner{
    color: #DC5A4B;
    .product_img_wrapper{
      display: flex;
      justify-content: center;
      text-align: center;
      height: 150px;
      margin-bottom: 18px;
      .product-img{
        max-width: 150px;
        max-height: 150px;
      }
    }

  }
}

.product_content_section{
  padding-bottom: 30px;
  .brand-name{
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #666666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product-name{
    font-family: 'Helvetica Neue md';
    line-height: 19px;
    text-align: left;
    color: #444;
    margin-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .percentage_off{
    font-weight: 400;
    line-height: 17.89px;
    text-align: left;
    color: #006878;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .price_of_product{
    font-weight: 400;
    line-height: 21.47px;
    text-align: left;
    color: #006878;
    margin-bottom: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

}

//.view_detail_btn{
//  .link-primary-btn{
//    visibility: hidden;
//    opacity: 0;
//    transition: 0.2s ease-in-out;
//    .el-icon{
//      margin-right: 5px;
//    }
//    .el-text{
//      font-family: 'Helvetica Neue md';
//      font-size: 11px;
//      font-weight: 500;
//      line-height: 13.43px;
//      letter-spacing: 0.05em;
//      text-align: left;
//    }
//  }
//}

  .strikeout {
  text-decoration-line: line-through;
}




//.custom-link {
//  padding-top: 20px;
//  padding-bottom: 10px;
//}

.mobile-products {
  padding-bottom: 60px;
}

.card_ui_product{
  position: relative;
  .btn.add-item-icon{
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
  .add-item-icon:active {
    border-color: #FFFFFF !important;
  }
}
}

.pagination_wrapper{
  text-align: center;
  padding-bottom: 30px;
  .page_info{
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color:#96999F;
  }
  .pagination{
    margin-bottom: 20px;
    li{
      margin: 0 4px;
      &.active{
        a{
          background: #DC5A4B;
          color:#fff;
          border:1px solid #DC5A4B;
          &:hover{
            background:#DC5A4B;
          }
        }
      }
      a{
        min-width: 32px;
        height: 32px;
        padding: 0 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #E0E1E5;
        border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        color:#96999F;
        transition: all 0.2s;
        &:focus{
          outline: none;
          box-shadow: none;
        }
        &:hover{
          background: #F5F5F5;
        }

        &[aria-label="Previous"]{
          background: transparent;
          border: none;
          min-width:32px !important;
          height: 32px;
          display: flex;
          align-items:center !important;
          svg path{
            fill:#96999F;
          }
          &:hover{
            svg path{
              fill:#DC5A4B;
            }
          }
        }
        &[aria-label="Next"]{
          background: transparent;
          border: none;
          min-width:32px !important;
          height: 32px;
          display: flex;
          align-items:center !important;
          &:hover{
            svg path{
              fill:#DC5A4B;
            }
          }
          svg path{
            fill:#96999F;
          }
        }

        &[aria-disabled="true"]{
          background: transparent;
          border: none;
          padding: 0;
          min-width:24px;
          height: 32px;
          display: flex;
          align-items: flex-end;

          svg path{
            fill:#E0E1E5;
          }
        }
      }
    }
  }
}

.selection-pagination {
  padding-top: 25px;
}
